PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/reachinbox
REDIS_URL=redis://localhost:6379
WORKER_CONCURRENCY=5
MAX_EMAILS_PER_HOUR_PER_SENDER=200
SLACK_WEBHOOK_URL=
ETHEREAL_USER=
ETHEREAL_PASS=
